@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
.ola{color:#008751;}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: rgba(0, 0, 0, 0.679);
}

#root {
    //background-image: url('./../assets/background.jpg');
    background-size: cover;
    width: auto;
    height: 100%;
}

.header {
    text-transform: uppercase;
   letter-spacing: 0.8rem;
   padding: 20px;
   background: #000;
   color: #fff;
   font-size: 20px;
   text-align: center;
   border-bottom: 2px solid rgb(129, 129, 129);
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    border-bottom: 0.5px dotted rgb(129, 129, 129);
}

a {
    color: inherit;
    text-decoration: none;
    letter-spacing: 4px;
}

.nav-link {
    font-size: 20px;
    font-weight: bolder;
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
    letter-spacing: 4px;
    cursor: pointer;
}

.news-link {
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    color: #ff0000;
    text-decoration: none;
    letter-spacing: 4px;
}

.nav-link:hover {
    text-decoration: none;
    font-size: 20px;
    color: rgb(68, 227, 100);
    transition: 0.2s ease-in-out;
}

.search-box {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid rgb(15, 13, 13);
}

.input {
    color: #000;
    border: none;
    text-align: center;
    align-items: center;
    padding: 15px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

input {
    padding: 5px;
    border: 1px dotted #000;
    border-radius: 20px 0px 20px 0px;
    text-align: center;
    background-color: none;

}

.search-icon {
    padding: 5px;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: rgb(0, 0, 0);
}

.table-container {
    padding: 20px;
    text-transform: capitalize;
}

.con-header {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #ff00003a;
    display: grid;
    font-weight: bolder;
    font-size: 20px;
    grid-template-columns: 40px 80px auto auto ;
}

.table-header {
    color: #000;
    font-weight: bolder;
}

.con-data {
    display: grid;
    grid-template-columns: 40px 80px auto auto;
    align-items: center;
    border-bottom: 2px dotted #000;
}

.news-data {
    display: grid;
    grid-template-columns: 80px auto auto ;
    align-items: center;
    border-bottom: 1px dotted rgba(16, 173, 71, 0.504);
}

.table-data {
    color: #000;
    font-weight: bolder;
    font-size: 15px;
}

.table-data:hover {
    cursor: pointer;
}

.news-table-data {
    color: #000;
    font-weight: bolder;
    font-size: 15px;
}

.price {
    text-align: end;
}

.button {
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 2px;
    background: rgba(50, 49, 49, 0.815);
    color: rgb(181, 144, 11);
    text-align: center;
    width: fit-content;
    cursor: pointer;
}

.button:hover {
    color: rgb(54, 157, 241);
    transition: 0.5s ease-in-out;
}

.name-logo {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}


.coin-img {
    width: 30px;
    padding: 20px;
}

.timlineDiv {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.timlineList {
    display: inline-flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 20px;
    margin: 10px;
    text-align: start;
    padding: 5px;
    background: #5e5e5e;
    color: rgb(52, 255, 11);
}

.newsImage {
    width: 350px;
}

.new-link-fullStory {
    font-style: italic;
    color: #ff0000;
}

.newsTitle {
    border-bottom: 2px dotted rgb(107, 128, 0);
}

.overlay {
    background: #fff;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    text-align: center;
}

.overlay-text{
    position: absolute;
    font-size: 50px;
    color: rgb(0, 0, 0);
}

.icon {
    font-size: 30px;
    color: #000;
}

.detail-cont {
    display: flex;
}

.details-cont {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.details-data {
    margin-bottom: 5px;
}

.link-details {
    color: #075234;
}

.link-det {
    color: #008751;
}

.detail-img-cont {
    width: 150px;
    height: 150px;
    border: 3px double #fff;
}

.decription {
    font-size: 15px;
    text-align: start;
    padding: 10px;
    color: rgb(181, 144, 11);
}

@media screen and (max-width: 523px) {
    .news-data {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .news-table-data {
        padding-bottom: 5px;
    }

    .details-data {
        margin-bottom: 3px;
    }
    
}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 420px) {
    .header {
        letter-spacing: 1px;
        padding: 10px;
        text-align: center;
        border-bottom: 2px solid rgb(129, 129, 129);
     }

     .nav {
        margin-left: 10px;
        margin-right: 10px;
     }

     a {
        letter-spacing: 2px;
     }

     .con-header {
        grid-template-columns: 20px 60px auto auto ;
        font-size: 15px;
    }

     .news-header {
        grid-template-columns: 20px 60px auto auto ;
    }

     .con-data {
         grid-template-columns: 20px 60px auto auto ;
     }

     .coin-img {
        width: 30px;
    }

    .timlineList {
        width: 250px;
    }

    .newsImage {
        width: 250px;
    }

    .detail-img-cont {
        width: 70px;
        height: 70px;
    }
}
